* {

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: tahoma;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px
}

a {
    text-decoration: none;
    margin: 10px 0px;
}

.hero {
    background-color: #1F2937;
    padding: 0px 100px;
}

.hero-content {
    display: flex;
    gap: 25px;
}

.hero .main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-bottom: -20px;
}

.hero-img {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border: none;
   
}

.hero .secondary-text, .header-link {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    margin: -100px 0px;
}

.information-header {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: top;
    flex: 1;
    gap: 35px;
}

.img-subtext {
    text-align: center;
    font-size: 12px;
  
    flex: 1;
}

img {
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 15%;
}

.mars,
.saturn,
.jupiter,
.earth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0;
}

.quote-section {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 50px 75px;

}

figcaption {
    text-align: right;
    font-weight: bold;
    margin-top: -25px;
    font-style: normal;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: center;
    gap: 100px;
}

h2.call-to-action {
    justify-content: left;
    margin-bottom: 0px;
}

p.call-to-action {
    margin-top: 0
}

button.call-to-action {
    border: 1px solid white;
    align-self: center;
    padding: 5px 15px
}

footer {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
}